<div class="col col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading"><h2>Your eBook list</h2></div>
        <div class="panel-body">
            <div class="form-group col-sm-3">
                <label>Search title in list</label>
                <input type="text" class="form-control" ng-model="search.itemTitle" />
            </div>
            <div style="float: right; text-align: right" class="form-group col-sm-5">
                    <label>Refresh list from Allegro</label>
                    <button type="button" class="btn btn-sm btn-warning" ng-click="refreshList()">Refresh list</button>
            </div>
            <div style="text-align: center" class="table-group col-sm-12">
                <button type="button" class="btn btn-sm btn-info" ng-disabled="currentPage == 0" ng-click="currentPage = currentPage - 1">Previous</button>
                {{currentPage+1}}/{{numberOfPages}}
                <button type="button" class="btn btn-sm btn-info" ng-disabled="currentPage == numberOfPages - 1" ng-click="currentPage = currentPage + 1">Next</button>

            </div>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th></th>
                    <th>
                        <a href="#" ng-click="sortType = 'itemTitle'; sortReverse = !sortReverse" class="glyphicon glyphicon-sort"> Title</a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'priceValue'; sortReverse = !sortReverse" class="glyphicon glyphicon-sort"> Price</a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'timeToEnd'; sortReverse = !sortReverse" class="glyphicon glyphicon-sort"> Time to End</a>
                    </th>
                    <th>Add to Favorite</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="book in books | filter:search.itemTitle | orderBy:sortType:sortReverse | startBy: currentPage*pageSize | limitTo: pageSize">

                    <td><img src="{{book.photoUrl}}"></td>
                    <td>{{book.itemTitle}}</td>
                    <td>{{book.priceValue}}</td>
                    <td>{{book.timeToEnd}}</td>
                    <td><button class='btn btn-success' ng-click="removeItem(place)">Add</button></td>
                    <!--<td ng-show="presentColumnVisibility"><input type="checkbox" ng-model="person.Present"></td>-->
                </tr>
                </tbody>
            </table>
                <button type="button" class="btn btn-sm btn-info" ng-disabled="currentPage == 0" ng-click="currentPage = currentPage - 1">Previous</button>
                {{currentPage+1}}/{{numberOfPages}}
                <button type="button" class="btn btn-sm btn-info" ng-disabled="currentPage == numberOfPages - 1" ng-click="currentPage = currentPage + 1">Next</button>
        </div>
    </div>
</div>