#ebookviewer{
    height:80vh;
}

#area {
    width: 80%;
    height: 80%;
    margin: 5% auto;
    max-width: 1250px;
}

#prev {
    left: 40px;
}
#next {
    right: 40px;
}
.arrow {
    position: absolute;
    top: 50%;
    margin-top: -32px;
    font-size: 100px;
    color: black;
    font-family: arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.arrow:hover {
    color: #999;
}
.arrow:active {
    color: #000;
}